.navbar {
    background: linear-gradient(180deg, #7EC6C3 0%, rgba(217, 217, 217, 0) 100%);
    display: grid;
    grid-template-columns: 3% 35% 30% 8%;
    height: 274px;
    /* width: 100%; */
      /* width: 140vw;  */
       width: 90rem;   
      /* width: 1440px;   */
    /* margin-top: -40px; */
    font-family: 'Poppins', sans-serif;
    margin-top: -63px;
}

.input-group {
    background-color: #D8EDED;
    height: 46px;
    width: 30rem;
    border-radius: 30px;
    cursor: pointer;
    border: 1px solid #17252A;
    margin-top: -10px;
}

.input {
    border: none;
    outline: none;
    background-color: #D8EDED;
    font-weight: 300;
    font-size: 20px;
}

#button {
    margin-top: -10px; 
    font-weight: 500;
    font-size: 1.4rem;
    cursor: pointer;
    line-height: 30px;
}

#logo {
    margin-left: 3%;
}

svg {
    margin-top: 0.7rem;
    margin-left: 0.8rem;
}

.button {
    display: grid;
    grid-template-columns: 30% 40% 45%;
}
/* 
 @media (max-width: 1200px) {
    .navbar {
        width: 80rem;
    }
    
} 
@media (max-width: 1000px) {
    .navbar {
        width: 1000px;
    } */
    
/* }  */