<div class="navbar" id="miBoton2">
    <div id="logo"><img src="./assets/logoWiki.png" alt="logo" style="width:90px; margin-top: -15px;"></div>
   <div id="buscar">
      <nav >
        <form class="container-fluid">
          <div class="input-group">
            <input type="text" #search class="form-control" (keyup)="search1($event)" placeholder="Escribir tema" aria-label="Username"
              aria-describedby="basic-addon1">
            <span class="input-group-text" id="basic-addon1" (click)="getTheme(search.value)" >Buscar<svg 
              xmlns="http://www.w3.org/2000/svg" width="16" style="margin-left:5px;"
                height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16" id="icon">
                <path
                  d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
              </svg></span>  
          </div>
        </form>
      </nav>
    </div>
  
      <input  type="button" class="btn btn-light" id="button" value="Editar temas" (click)="edit()">
      <input type="button" class="btn btn-light" id="button" value="Crear tema" (click)="create()">
     
   <div class="listTheme" >
    
    <app-list-theme  *ngFor="let theme of themes" [theme]="theme" ></app-list-theme>                     
    
    </div>  

</div>