
.container-fluid{
    display: grid;
    grid-template-columns:100px 850px ;
    padding: 0px;
    background-color: #DDF1F0;


}

.tool{
    background-color: #3AAEAB;   
    color: rgb(10, 10, 10);
      height:105%;  
    padding-top: 10px;

}

.text{
    display: grid;
    grid-template-rows:30px 360px ;

}
.navTools{
    display: grid;
    grid-template-columns:120px 120px 570px 120px;  
    border-bottom: 1px solid #17252A;
}
h5{
    margin: 20px 20px;
}

button{
    border: none;
    background-color: #DDF1F0;
}

