<div class="container-fluid">
    <div class="categories">
        <p>Elegir una Categoría</p>
        <ul>
            <li id="cul" onclick="listaCrear()">Cultura</li>
            <li id="cienc" onclick="listaCrear1()">Ciencias y Tecnología</li>
            <li id="hist" onclick="listaCrear2()"> Historia y Sociedad</li>
            <li id="reg" onclick="listaCrear3()">Regiones</li>
        </ul>
        <img src="./assets/puntos.png" alt="puntos">
        
    </div>
   
    <div class="formulario" style="background-image: url('./assets/Iamgen1.png'); height:750px;;">
        <form [formGroup]="saveForm" (ngSubmit)="postForm(saveForm.value)">
            <div id="categoria">
                <div class="form-group">
                    <label for="exampleFormControlInput"></label>
                    <input type="text" class="form-control" formControlName="categoria" list="categoria1"
                      placeholder="Elige tu tema" >

                    <datalist id="categoria1">
                        <option value="Arquitectura"></option>
                        <option value="Arte"></option>
                        <option value="Cine y televisión"></option>
                        <option value="Comic y Anime"></option>
                        <option value="Deportes"></option>
                        <option value="Entretenimiento"></option>
                        <option value="Literatura"></option>
                        <option value="Moda"></option>
                        <option value="Música"></option>
                        <option value="Videojuegos"></option>
                    </datalist>

                    <datalist id="categoria2">
                        <option value="Biología"></option>
                        <option value="Computadoras e internet"></option>
                        <option value="Física"></option>
                        <option value="Ingeniería"></option>
                        <option value="Matemáticas"></option>
                        <option value="Medicina y salud"></option>
                        <option value="Química"></option>
                        <option value="Tecnología"></option>
                        <option value="Tierra y Medio ambiente"></option>
                    </datalist>

                    <datalist id="categoria3">
                        <option value="Biografía"></option>
                        <option value="Comidas y Bebidas"></option>
                        <option value="Educación"></option>
                        <option value="Filosofía y religión"></option>
                        <option value="Guerras"></option>
                        <option value="Historia"></option>
                        <option value="Negocios y Economías"></option>
                        <option value="Políticas y Gobiernos"></option>
                        <option value="Transporte"></option>

                    </datalist>

                    <datalist id="categoria4">
                        <option value="África"></option>
                        <option value="América Central"></option>
                        <option value="América del Norte"></option>
                        <option value="América del Sur"></option>
                        <option value="Asia"></option>
                        <option value="Europa"></option>
                        <option value="Oceania"></option>

                    </datalist>
                </div>

                <div class="form-group">
                    <label for="exampleFormControlInput"></label>
                    <textarea type="text" class="form-control" id="inputTexto" formControlName="titulo"  placeholder="Título del tema"></textarea>
                </div>
                <div class="error">
                    <span *ngIf="saveForm.get('titulo')?.hasError('required') && saveForm.get('titulo')?.touched ">
                        El título es un campo <strong>requerido</strong>
                    </span>
                    <span *ngIf="saveForm.get('titulo')?.hasError('minlength') && saveForm.get('titulo')?.touched">
                        Este campo debe tener como mínimo <strong>3 caracteres</strong>
                    </span>
                    <span *ngIf="saveForm.get('titulo')?.hasError('maxlength') && saveForm.get('titulo')?.touched">
                        Este campo debe tener como máximo <strong>60 caracteres</strong>
                    </span>
                </div>

                <div class="form-group" style="margin-top: -16px;">
                    <label for="exampleFormControlInput"></label>
                    <textarea type="text" class="form-control" formControlName="imagen"
                        placeholder="Escribir la url. ej.: https://"></textarea>

                </div>

                <div class="form-group">
                    <label for="exampleFormControlInput"></label>
                    <textarea id="form" type="text" class="form-control" formControlName="contenido"
                    placeholder="Contenido"></textarea>
                </div>
                <div class="error">
                    <span
                        *ngIf="saveForm.get('contenido')?.hasError('required') && saveForm.get('contenido')?.touched ">
                        El contenido es un campo <strong>requerido</strong>
                    </span>
                    <span
                        *ngIf="saveForm.get('contenido')?.hasError('minlength') && saveForm.get('contenido')?.touched">
                        El campo debe tener como mínimo <strong>40 caracteres</strong>
                    </span>
                </div>

                <div class="button">
                    <input class="btn btn-dark" id="button" type="submit" value="Publicar" onclick="validar()"
                        [disabled]="saveForm.invalid">
                </div>
            </div>
        </form>
        <div class="logos">
            <app-logos></app-logos>
        </div>
    </div>
</div>