.container-fluid {
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 0px;
    height: 84vh;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.categories {
    background: linear-gradient(49.74deg, #7EC6C3 0%, #D8EDED 75.39%);
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07),
        0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725),
        0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
    font-style: normal;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #17252A;
    padding-left: 10px;
    padding-top: 20px;
}

img {
    margin-top: 70px;
    margin-left: -15px;
}

p {
    text-align: center;
}

ul{
    height: 150px;
    margin-left: 4rem;
}
li {
    cursor: pointer;
    padding-top: 20px;
}

button {
    border: none;
    background-color: #DDF1F0;
}

#button {
    border: none;
    background-color: #141414;
    height: 29px;
    margin-top: 6px;
    margin-left: 40px;
    cursor: pointer;
}

#input {
    width: 14vw;
    border: none;
    height: 300px;
    background-color: #DDF1F0;
    cursor: pointer;
}

form {
    background: rgba(150, 209, 206, 0.7);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    margin: 40px 20px;
    height: 70vh;

}

.form-control {
    background: #D8EDED;
    box-shadow: 0px 10px 20px rgba(124, 150, 149, 0.2);
    width: 59vw;
    margin-left: 40px;
    cursor: pointer;

}

#form {
    height: 150px;
}

label {
    margin-left: 40px;

}

#inputTexto {
    height: 4vh;
    width: 25vw;
}

.error {
    color: rgb(155, 30, 30);
    margin-left: 40px;
}

.logos {
    display: inline-flex;
    cursor: pointer;
    position: absolute;
    margin-top: -100px;
    margin-left: 43%; 
  }
  
  .logos >div{
  margin: 0px 20px;
  }


  