.information{
    background-color: #17252A;
    height: 80%; 
    margin-bottom: 15px;  
    color: #FFFFFF;
    border-radius: 40px;
    font-family: 'SF Pro Display';
}
 .info{
    font-size: 13px;
    text-align: center;
 }
 #title{
    font-size: 12px;   
    text-align: center;
 }
 
 img{
   border-radius: 20px;
    margin-left: 15px;  
 }


 



