<div class="information"><br>
    <h5>Tigre de Bengala</h5>
    <img src="./assets/tigreBengala1.jpg" width="120" alt="">
  
    <div>
        <br>
        <h6 id="title">Estado de conservación</h6>
        <h6 id="a">Extinto  Amenazado Preocupación<br>menor</h6>
        
            <p>EX</p>
            <p>EW</p>
            <p>CR</p>
            <p>EN</p>
            <p>VU</p>
            <p>NT</p>
            <p>LC</p>
        
    </div>
    <div>
        <br>
       <h6 style="font-size: 12px; text-align:center;"> Distribución</h6>
       <img src="./assets/mundo1.png" alt="" width="120px">
    <br>
    <br>
       <h6 style="text-align: center; font-size: 12px">Sononimia</h6>
       <ul style="font-size: 10px;">
        <li>P.t.fluvatilis</li>
        <li>P.t.montanus</li>
        <li>P.t.regalis</li>
        <li>P.t.striatus</li>
       </ul>
    </div>
    
</div>
