.container-fluid {
    padding: 0px;
    height: 890px;
    width: 90rem;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 0px;
    color: #17252A;
    margin-top: -25px;
}

.texto {
    display: grid;
    grid-template-rows: 80% 20%;
    font-size: 24px;
    margin-right: 40rem;
    position: relative;
    width: 490px;
    height: 680px;
    margin-top: -55rem;
    line-height: 30px;
}

mat-paginator {
    font-size: 20px;
    cursor: pointer;
    margin-left: -80px;
}

app-list2-theme {
    cursor: pointer;
}

.bg {
  
    width: 90rem;
}

.bg img {
    width: 100%;
    height: 890px;
}

.footer {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 90rem;
    margin-top: -15rem;
}

.logos {
    margin-top: 15rem;
    margin-left: -17rem;
}

.puntos img {
    position: absolute;
    transform: rotate(-180deg);
    margin-top: 3rem;
}

::ng-deep .mat-paginator-range-label{
visibility: hidden;
}

::ng-deep .mat-paginator-page-size{
    visibility: hidden;
    }
    ::ng-deep .mat-focus-indicator.mat-tooltip-trigger.mat-paginator-navigation-next.mat-icon-button.mat-button-base{
      margin: 40px;
        }


/* @media (min-width: 1100px) {
    img {
   width: 100%;

    }
} */