.index {
  height: 100%;
  display: grid;
  grid-template-rows: 200px 500px;
  margin-left: -55px;
}

#ilustration {
  margin: 15px;
}

#index {
  margin-top: 10px;
  color: #FFFFFF;
  background-color: #17252A;
  margin-bottom: 10px;
}

#list {
  text-decoration-line: underline;
}

img {
  width: 100%;
}