
    <div class="index">
        <div id="ilustration">
           <img src="./assets/tigre.png" width="200" >
        </div>
        <div id="index" >
            <h5 style="text-align: center; margin-top: 5px; font-size: 16px;">Indice</h5>
            <ol style="font-size: 12px;">
                <li><a href="">Caracteristicas</a></li>
                <li>Ciclo de Vida</li>
                <li>Reproduccion</li>
                <li>Dieta</li>
                <li>Hábitad</li>
                <li>Conservación del Tigre</li>
                <li>Galeria</li>
                <li>Referencias</li>
                <li>Enlaces Externos</li>
            </ol>
            
        </div>
    </div>
