.index{
height: 100%;
display: grid;
grid-template-rows: 200px 500px;
margin-left: -55px; 
 
}

 #ilustration{ 
    margin-bottom: 30px;
    background-color: rgb(202, 202,202);
     /* margin-left: -55px;  */
    color: white;
    width: 200px;
border-radius: 40px;
  
 } 

#index{
   color: #FFFFFF;
    background-color:#17252A;
    margin-bottom: 10px;
   /* margin-left: -55px;  */
   border-radius: 40px;

}
 img{
   border-radius: 20px;
 }