
<div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <app-header></app-header>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <app-tools></app-tools>
      </div>
      <div class="col-2">
        <app-index></app-index>
      </div>
      <div class="col-6">
        <app-contents></app-contents>
      </div>
      <div class="col-2">
        <app-aside></app-aside>
      </div>
    </div>
    <div class="row" >
      <div class="col-12">
  <app-footer></app-footer>
      </div>
    </div>
  </div>