.tools{
    background-color: rgb(206, 166, 243);
    border-right: 2px solid grey;
    margin-right: 40px;
}

#logo{
    
    background-color:  rgb(243, 182, 102);
    margin-left: 10px;
    margin-top: -50px;
    
}

#tools{
    height:550px;
   
}


