/* .navbar {
    background-color: #7FB5B5;
    display: grid;
    grid-template-columns:auto  auto 60% auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 80px;    
}

#buscar {
    margin-top: -15px;
}

.form-control {  
    background-color: #17252A;
    color: #DDF1F0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    border: none;
    cursor: pointer;

}

#basic-addon1 {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
    background-color: #2B7A77;
    color: #DDF1F0;
    border: none;
    cursor: pointer;
}

#button{
    margin-top: -15px;
    height: 30px;
    width: 14vw;
    font-size: 14px;
    padding: 3px;
    background-color: #2B7A77;
    color: #DDF1F0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 40px; 
} */

.navbar {
    background: linear-gradient(180deg, #7EC6C3 0%, rgba(217, 217, 217, 0) 100%);
    display: grid;
    grid-template-columns: 3% 35% 30% 8%;
    height: 134px;
    width: 90rem;
    font-family: 'Poppins', sans-serif;
    
}

.input-group {
    background-color: #D8EDED;
    height: 32px;
    width: 462px;
    border-radius: 30px;
    cursor: pointer;
    border: 1px solid #17252A;
    margin-top: -43px;
   
}

.input {
    border: none;
    outline: none;
    background-color: #D8EDED;
    font-weight: 300;
    font-size: 1.3rem;
    height: 29px;
}

#button {
    margin-top: -10px;
    font-weight: 500;
    font-size: 1.3rem;
    cursor: pointer;
    /* line-height: 30px; */
}

#logo {
    margin-left: 3%;
    margin-top: -40px;
}

svg {
    margin-top: 0.3rem;
    margin-left: 0.8rem;
}

.button {
    display: grid;
    grid-template-columns: 30% 40% 45%;
    margin-top: -40px;
}

 .listTheme3{
   position: absolute;
}  


/* css del alert */
 .alert {
    position: absolute;
    /* margin-top: -550px; */
    /* margin-left: 200px; */
}

.texto {
    
    width: 574px;
    height: 236px;
    background: #7EC6C3;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    font-size: 32px;
    text-align: center;
    padding-top: 40px;
} 

.alert input {
    height: 142px;
    background: #17252A;
    width: 574px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    color: #FFFFFF;
    font-size: 32px;
} 




 
