
<section> 
  <div class="cards">
    <div class="card" style="width: 50vw;">
      <img src="./assets/culturaItem.png" class="card-img-top" alt="foto">
      <div class="card-body">
         <ul class="card-text">   
              <p>CULTURA</p>
                              <li routerLink="/busqueda/arquitectura">Arquitectura</li> 
                              <li routerLink="/busqueda/arte">Arte</li> 
                              <li routerLink="/busqueda/cine y television">Cine y televisión</li> 
                              <li routerLink="/busqueda/comic y anime">Comic y Anime</li> 
                              <li routerLink="/busqueda/deportes">Deportes</li> 
                              <li routerLink="/busqueda/entretenimiento">Entretenimiento</li> 
                              <li routerLink="/busqueda/literatura">Literatura</li> 
                              <li routerLink="/busqueda/moda">Moda</li> 
                              <li routerLink="/busqueda/musica">Música</li>
                              <li routerLink="/busqueda/videojuegos">Videojuegos</li> 
               </ul>  
      </div>
    </div>

    <div class="card" style="width: 50vw;">
      <img src="./assets/cienciasCard.png" class="card-img-top" alt="foto">
      <div class="card-body">
         <ul class="card-text">   
            <div style="width: 11rem;margin-left: -40px;"><p>CIENCIA Y TECNOLOGÍA</p></div>  
                              <li routerLink="/busqueda/biología">Biología</li> 
                              <li routerLink="/busqueda/ciencia general">Ciencia general</li> 
                              <li routerLink="/busqueda/computadoras e internet">Computadoras e internet</li> 
                              <li routerLink="/busqueda/fisica">Física</li> 
                              <li routerLink="/busqueda/ingenieria">Ingeniería</li> 
                              <li routerLink="/busqueda/matematicas">Matemáticas</li> 
                              <li routerLink="/busqueda/medicina y salud">Medicina y salud</li> 
                              <li routerLink="/busqueda/tecnología">Tecnología</li> 
                              <li routerLink="/busqueda/tierra y medio ambiente">Tierra y medio ambiente</li> 
               </ul>            
       </div>  
      </div>
    
    <div class="card" style="width: 50vw;">
      <img src="./assets/TecnoCard.jpg" class="card-img-top" alt="foto">
      <div class="card-body">
         <ul class="card-text">   
              <div style="width: 12rem;margin-left: -40px;"><p>HISTORIA Y SOCIEDAD</p></div>
                              <li routerLink="/busqueda/biografia">Biografía</li> 
                              <li routerLink="/busqueda/comidas y bebidas">Comidas y Bebidas</li> 
                              <li routerLink="/busqueda/educacion">Educación</li> 
                              <li routerLink="/busqueda/filosofia y religion">Filosofía y Religión</li> 
                              <li routerLink="/busqueda/guerras">Guerras</li> 
                              <li routerLink="/busqueda/historias">Historias</li> 
                              <li routerLink="/busqueda/negocios y economias">Negocios y Economías</li> 
                              <li routerLink="/busqueda/politicas y gobiernos">Políticas y Gobiernos</li> 
                              <li routerLink="/busqueda/transporte">Transporte</li> 
               </ul>  
      </div>
    </div>

    <div class="card" style="width: 50vw;">
      <img src="./assets/regionCard.png" class="card-img-top" alt="foto">
      <div class="card-body">
         <ul class="card-text">   
              <p>REGIONES</p>
                              <li routerLink="/busqueda/africa">África</li> 
                              <li routerLink="/busqueda/america central">América Central</li> 
                              <li routerLink="/busqueda/america del norte">América del Norte</li> 
                              <li routerLink="/busqueda/america del sur">América del Sur</li> 
                              <li routerLink="/busqueda/asia">Asia</li> 
                              <li routerLink="/busqueda/europa">Europa</li> 
                              <li routerLink="/busqueda/oceania">Oceanía</li> 
                               
               </ul>  
      </div>
    </div>

  </div>
     
</section>