 section {
    /* height: 750px; */
     font-family: 'Poppins', sans-serif;
     font-style: normal;
     font-weight: 500;
     margin-left: -250px;
     line-height: 10px;

 }

 p {
     font-weight: 700;
     font-size: 20px;
     line-height: 30px;
     text-align: center;
 }
 #h{
    width: 30vw;

 }

 .cards {
     display: flex;
     /* width: 100%;  */
     flex-direction: row;
     /* margin-left: -150px; */
     gap: 20px;
     position: absolute;
     /* padding: 0px 50px; */
 }

 img {
     height: 230px;
     width: 316px;
 }

 .card {
     margin-top: -10px;
     font-size: 18px;
     height: 690px;
     width: 316px;
     line-height: 40px;
     font-weight: 400;
     background-color:  #D8EDED;
 }

 ul {
     cursor: pointer;
 }



 /* @media (max-width: 680px) {
    .estructure {
        display: flex;
        flex-direction: column;
        margin: 10px 30px;
    }
}
@media (min-width: 1200px) {
    .container-prod {
        margin: 50px;
    }
} */
 /* css de puntos :position: absolute;
left: 35.2%;
right: 22.76%;
top: 82.28%;
bottom: 1.67%;

background: url(Dots.png);
transform: matrix(-1, 0, 0, 1, 0, 0); */