 section {
     height: 33rem;
     font-family: 'Poppins';
     font-style: normal;
     font-weight: 500;
     margin-left: -150px;
    line-height: 10px;
 }
 h6{
    font-weight: 700;
    font-family: 'Poppins';
    
 }

.cards{
    display: flex;
     width: 100%; 
    flex-direction: row;
     margin-left: -70px;  
     gap: 20px; 
}

 img {
     border-top-left-radius: 20px;
     border-top-right-radius: 20px;
     height: 10rem;
     width: 100%;
     padding: 5px;
 }

 .card {
     border-radius: 20px;
     margin-top: -10px;
     font-size: 14px;
     height: 28rem; 
 }

 ul {
     cursor: pointer;

 }
 li{
    line-height: 20px;
 }

 /* @media (max-width: 680px) {
    .estructure {
        display: flex;
        flex-direction: column;
        margin: 10px 30px;
    }
}
@media (min-width: 1200px) {
    .container-prod {
        margin: 50px;
    }
} */
 