.container-fluid {
    display: grid;
    grid-template-rows: 707px 159px;
    padding: 0px;
    width: 90rem;
    /* height: 750px;  */
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #17252A;
    margin-top: -30px;
}

.texto {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
    color: #17252A;
    margin-right: 45px;
    margin-top: 20px;
}

h3 {
    font-weight: 700;
    font-size: 36px;
}

.contenido img {
    height: 382px;
    width: 483px;
    float: left;
    padding: 30px 58px;
    filter: drop-shadow(47px 116px 50px rgba(0, 0, 0, 0.01)) drop-shadow(26px 65px 42px rgba(0, 0, 0, 0.05)) drop-shadow(12px 29px 31px rgba(0, 0, 0, 0.09)) drop-shadow(3px 7px 17px rgba(0, 0, 0, 0.1)) drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.1));
}

.bkg {
    background: linear-gradient(180deg, #7EC6C3 0%, rgba(217, 217, 217, 0) 100%);
    transform: rotate(-180deg);
}

.logos{
    margin-left: 30rem;
}