<!-- <div class="container-fluid">

   <div class="lista2" style="background-image: url('./assets/vector9.png')">

      <div class="contenido">
         <h3><strong>{{wiki.titulo}}</strong>
            <hr>
         </h3>
         <p>{{wiki.contenido}}</p>

      </div>
      <img src="./assets/Puntos2.png" alt="puntos">

   </div>

   <div class="imagen">
      <img [src]="wiki.imagen" [alt]="wiki.titulo">
   </div>
   <div class="logos">
      <app-logos></app-logos>
  </div>
    width="200" height="200" -->
<!-- </div> --> 
<div class="container-fluid">
   <div class="bg">
           <div>
               <img src="./assets/vector.png" alt="vector" style="position: absolute;">

           </div>
       
       <div class="imagen">
         <img [src]="wiki.imagen" [alt]="wiki.titulo">
       </div>
   </div>
   
   <div class="contenido">
      <h3><strong>{{wiki.titulo}}</strong>
         <hr>
      </h3>
      <p>{{wiki.contenido}}</p>

   </div>
       
</div>
<div class="footer">

   <div class="imagen1">
       <img src="./assets/puntos.png" alt="puntos">
   
   </div>  
   <div class="logos">
       <app-logos></app-logos>
   </div>
</div>
