<div class="container-fluid">

   <div class="lista2" style="background-image: url('./assets/vector9.png')">

      <div class="contenido">
         <h3><strong>{{wiki.titulo}}</strong>
            <hr>
         </h3>
         <p>{{wiki.contenido}}</p>

      </div>
      <img src="./assets/Puntos2.png" alt="puntos">



   </div>

   <div class="imagen">
      <img [src]="wiki.imagen" [alt]="wiki.titulo">
   </div>
   <div class="logos">
      <div><img src="./assets/facebook1.png" alt="facebook" style="width: 20px;"></div>
      <div><img src="./assets/insta.png" alt="instagram" style="width: 28px;"></div>
      <div><img src="./assets/youtube6.png" alt="youtube1" style="width: 20px;"></div>
      <div><img src="./assets/twitter3.png" alt="twitter" style="width: 20px;"></div>

   </div>
   <!-- width="200" height="200" -->
</div>