
.container-fluid {
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 0px;
    height: 84vh;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #17252A;
    margin-top: -30px;
}

.contenido{
   width:60vh ;
   margin-left: 50px;
   text-align: center;
   margin-top: 30px;
}

.lista2 {
    width: 100%;
    height: 84%;
    position: absolute;
    margin-left: -13px;
    background-repeat: no-repeat; 
}

.lista2 >img{
    margin-top: 160px;
}

mat-paginator {
    position: absolute;
    font-size: 16px;
    margin-top: 155px;
    cursor: pointer;
}

.imagen {
    height: 84vh;
    width: 82vw;
}

.imagen >img {
    height: 98%;
    margin-left: 22%;
    width: 100%;
}

app-list2-theme {
    cursor: pointer;
}

.logos {
    display: inline-flex;
    cursor: pointer;
    position: absolute;
    margin-top: 465px;
    margin-left: 70%;
  
  }
  
  .logos >div{
  margin: 10px;
  }
  
