<div class="contents">
    <div class="preamble">
      
    <h3><strong>{{Wiki.titulo}}</strong><hr></h3>
 <p>Lorem ipsum dolor sit amet consectetur 
  adipisicing elit. Labore facilis dolore
   eligendi Lorem, ipsum dolor sit amet 
   consectetur adipisicing elit. Ipsa facilis eligendi, nisi tempore quas fugiat, vitae maxime sequi pariatur similique quia numquam minima quos
   excepturi sint. Aperiam laborum repellendus hic!</p>
    </div>
    <div id="contents">
       <h4><strong>Características:</strong><hr></h4>
       <p>Lorem ipsum dolor, sit amet consectetur 
        adipisicing elit. Vitae fugiat, nostrum 
        iusto voluptatem ut alias delectus perspiciatis
         eaque tempora rerum culpa necessitatibus reiciendis 
        possimus, ducimus hic assumenda quo ex labore.</p>
    </div>
</div>

