<div class="container">
    <form [formGroup]="saveForm" (ngSubmit)="onUpdate()" novalidate #f="ngForm">
        <div id="categoria">
           <br>
            <div class="form-group">
                <label for="exampleFormControlInput">Título</label>
                <textarea type="text" class="form-control" id="inputTexto" formControlName="titulo"
                    [(ngModel)]="wiki.titulo"></textarea>
            </div>
            <div class="error">
                <span *ngIf="saveForm.get('titulo')?.hasError('required') && saveForm.get('titulo')?.touched ">
                  El título es un campo <strong>requerido</strong>
                </span>
                <span *ngIf="saveForm.get('titulo')?.hasError('minlength') && saveForm.get('titulo')?.touched">
                    Este campo debe tener como mínimo <strong>3 caracteres</strong>
                  </span>
                  <span *ngIf="saveForm.get('titulo')?.hasError('maxlength') && saveForm.get('titulo')?.touched">
                    Este campo debe tener como máximo <strong>60 caracteres</strong>
                  </span>
              </div>
             <div class="form-group">
                <label for="exampleFormControlInput">Imagen</label>
                <textarea id="form" style="height: 9vh; width: 65vw"
                 type="text" class="form-control" formControlName="imagen"
                    [(ngModel)]="wiki.imagen"></textarea>
            </div> 
            <div class="form-group">
                <label for="exampleFormControlInput">Contenido</label>
                <textarea id="form" type="text" class="form-control" formControlName="contenido"
                    [(ngModel)]="wiki.contenido"></textarea>
            </div>
            <div class="error">
                <span *ngIf="saveForm.get('contenido')?.hasError('required') && saveForm.get('contenido')?.touched ">
                  El contenido es un campo <strong>requerido</strong>
                </span>
                <span *ngIf="saveForm.get('contenido')?.hasError('minlength') && saveForm.get('contenido')?.touched">
                    El campo debe tener como mínimo <strong>40 caracteres</strong>
                  </span>
              </div>
            <br>
            <div class="button">
                <input class="btn btn-dark" id="button" type="submit" value="Actualizar" onclick="validar()"
                    [disabled]="saveForm.invalid">
            </div>
            <br>
            <button class="btn btn-outline-danger" (click)="delete(wiki.id)">
                <i class="bi bi-trash3-fill"></i>Borrar</button>
        </div>
    </form>

</div>