.container-fluid {
    display: grid;
    grid-template-columns: 35% 65%;
    padding: 0px;
    height: 750px;
    font-style: normal;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    width: 1440px;
  
}

form {
    background: rgba(150, 209, 206, 0.7);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    margin: auto;
    width: 868px;
    height: 651px;
}

.error {
    color: rgb(155, 30, 30);
}

.form-control {
    background: #D8EDED;
    box-shadow: 0px 10px 20px rgba(124, 150, 149, 0.2);
    margin: auto;
    cursor: pointer;
    width: 828px;
    height: 70px;
    border-radius: 20px;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#button {
    width: 166px;
    height: 52px;
    background: #D8EDED;
    box-shadow: 0px 10px 20px rgba(124, 150, 149, 0.2);
    border-radius: 50px;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    border: none;
    margin-left: -90px;
}

#delete {
    width: 254px;
    height: 52px;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    background: #E82A2A;
    box-shadow: 0px 10px 20px rgba(124, 150, 149, 0.2);
    border-radius: 50px;
    margin-left: 310px;
}

.categories {
    background: linear-gradient(49.74deg, #7EC6C3 0%, #D8EDED 75.39%);
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07),
        0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725),
        0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
    font-style: normal;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: #17252A;
    padding-left: 10px;
    padding-top: 80px;
    /* height: 750px; */
}

img {
    position: absolute;
    margin-top: -190px;
    margin-left: -495px;
}

p {
    font-size: 40px;
    line-height: 60px;
    text-align: center;
}

ul {
    height: 150px;
    margin-left: 4rem;
}

li {
    cursor: pointer;
    padding-top: 20px;
}

.logos {
    margin-top: 110px;
}
 #form {
    width: 824px;
    height: 157px;
} 
textarea {
    cursor: pointer;
    width: 828px;
    height: 70px;
    border-radius: 20px;
}
.form-control {
    background: #D8EDED;
    box-shadow: 0px 10px 20px rgba(124, 150, 149, 0.2);
    margin-left: 5px;
    cursor: pointer;
    width: 828px;
    height: 70px;
    border-radius: 20px;
}
form {
    background: rgba(150, 209, 206, 0.7);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    margin: 40px 20px;
    width: 868px;
    height: 651px;
}
#lista4{
    position: absolute;
    margin-top: -50px;
    margin-left: 170px;
}