<div class="alert" id="alert">
    <div class="texto">¡El tema <br>se ha publicado <br>con éxito!</div>
    <div><input type="button" value="ACEPTAR"></div>

</div>
<!-- 
<div class="alert" id="alert">
    <div class="texto">¡El tema se ha eliminado con éxito!</div>
    <div><input type="button" value="ACEPTAR"></div>

</div>

<div class="alert" id="alert">
    <div class="texto">¿Esta seguro de que desea eliminar el tema?</div>
    <div>
        <input style="width:287px;" type="button" value="Aceptar">
        <input id="eliminar" style="width:287px; " type="button" value="Eliminar">
    </div>




</div>

<div class="alert" id="alert">
    <div class="texto"></div>
    <div><input type="button" value="Aceptar"></div>

</div>

<div class="alert" id="alert">
    <div class="texto"></div>
    <div><input type="button" value="Aceptar"></div>

</div> -->

<!-- <div class="alert" id="alert">
    <p></p>
    <input type="button" value="aceptar">
</div>

<div class="alert" style="height: 416px;">
    <p></p>
    <input type="button" value="aceptar">
    <input type="button" value="cancelar">

</div>

<div class="alert" id="alert">
    <p></p>
    <input type="button" value="aceptar">
    <input type="button" value="cancelar">

</div>

<div class="alert" id="alert">
    <p></p>
    <input type="button" value="aceptar">
    <input type="button" value="Eliminar">

</div> -->