body {
  /* width: 100%; */
  height: 100%;
  font-family: 'Poppins';
}

.bg {
  display: grid;
  grid-template-columns: 30% 70%;
  padding: 0px;
  height: 84vh;
  font-size: 20px;
  line-height: 10px;
  color: #17252A;
  margin-top: -20px;
}

.lista2 {
 width: 100%; 
  height: 88%;
  position: absolute;
  margin-left: -13px;
  background-repeat: no-repeat;
  margin-top: 15px;
}

.imagen>img {
  position: absolute;
  margin-top: 435px;
}

.logos {
  display: inline-flex;
  cursor: pointer;
  position: absolute;
  margin-top: 495px;
  margin-left: 70%;

}

.logos >div{
margin: 10px;
}
